p{
    width: 200px;
    border: 5px solid;
    border-radius: 15px;
    background-color: rgb(64, 224, 208);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    
}